.vs/
DesignPatterns.StrategyPattern/bin/
DesignPatterns.StrategyPattern/obj/Debug/netcoreapp2.1/DesignPatterns.StrategyPattern.csproj.FileListAbsolute.txt
DesignPatterns.ObserverPattern/obj/
DesignPatterns.ObserverPattern/bin/
